#alusta{
    float: unset;
    width: 740px;
}

#lauta{
    float: none;
    border-collapse: collapse;
    text-align: center;
}

#lauta td{
    border: 1px solid black;
    width: 80px;
    height: 80px;
}

.musta{
    background-color: black;
    color: white;
}

.valkoinen{
    background-color: white;
    color: black;
}

.koordinaatti{
    border-style: none;
}

/* Toinen lauta */
#alusta2{
    width: 95%;
    border: 1px solid yellow;
    float: left;
}

#liikkeet{
   float: right;
   margin: 5px;
   max-width: 20%;
}

#alustansisys{
    border: 2px solid black;
    width: 640px;
    float: inherit;
}

#alusta2 p{
    text-decoration: underline;
}

#lauta2 td{
    border: 1px solid black;
}

.laatikko{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: right;
    vertical-align: middle;
    position: relative;
    margin: 0;
    padding: 0;
}

.laatikko p{
    margin: 0;
    padding: 0;
    text-decoration: none;
    position: absolute;
    bottom: 2px;
    right: 1px;
  
}

.punainenborder {
    border: 1px solid red;
}

.laatikko img{
    position: relative;
    display: block;
    margin: auto;
    
    height: 100%;
    width: 100%;
    z-index: 1;
}
/*
 .nappula{
    background-color: transparent;
    z-index: 1;
    vertical-align: middle;
    height: 70px;
    width: 70px;

}
*/

.rivi{
    display: block;
}

#numerokoordinaatit {
    float: left;
    
}

#numerokoordinaatit p {
    padding: 0;
    margin-right: 2px;
    margin-top: 35px;
    margin-bottom: 9px;
    font-weight: bolder;
}

#kirjainkoordinaatit {
    float: none;
    margin-left: 8px;
    margin-right: 0;
}

#kirjainkoordinaatit p {
    margin-left: 40px;
    margin-right: 29px; 
    font-weight: bolder;
    display: inline;
}